.form-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: var(--space-l);
}

.form-item {
  width: calc(50% - var(--space-l));
  padding: 0 var(--space-l) 0 0;
  margin: 0 0 var(--space) 0;
}
.form-item.full-width {
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
  margin: 0 0 var(--space-s) 0;
}

input[type='text'],
input[type='number'],
textarea {
  padding: var(--space-s);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  display: block;
  outline: none;
  width: calc(100% - var(--space));
  font-size: var(--font-size-s);
  font-family: var(--font-family);
}

textarea {
  min-height: 8rem;
}

input[type='text']:focus,
input[type='number']:focus,
textarea:focus {
  border-color: var(--color-primary);
}

span.required {
  color: var(--color-primary-bright);
  padding-left: 0.3rem;
}

.scoville-input {
  width: calc(25% - var(--space));
  padding-right: var(--space);
  float: left;
}
.scoville-input strong {
  font-size: var(--font-size-s);
}
.scoville-input:last-child {
  clear: right;
  width: 25%;
  padding-right: 0;
}

.save-button {
  float: right;
  background: var(--color-primary);
  color: var(--color-light);
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: var(--space-s) var(--space);
  font-size: var(--font-size-m);
  font-family: var(--font-family);
}
.save-button:hover {
  background: var(--color-primary-bright);
}
