.toast {
  --toastWidth: 30em;

  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  margin-left: calc((var(--toastWidth) * -1) / 2);
  width: var(--toastWidth);
  background: var(--color-dark);
  color: var(--color-light);
  padding: var(--space);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.toast.success {
  background: var(--color-success);
}

.toast.error {
  background: var(--color-primary-light);
}

.toast p {
  text-align: center;
  font-size: var(--font-size-m);
}

.close {
  float: right;
  font-size: var(--font-size-m);
  font-family: var(--font-family);
  color: var(--color-light);
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}
