.appWrapper {
  margin: 0;
  padding: 0;
}
.contentWrapper {
  padding: var(--space);
}

.header {
  background: var(--color-primary);
  padding: var(--space-l);
}
.header h1 {
  color: var(--color-light);
  font-size: var(--font-size-l);
}

.nav {
  margin: 0 0 var(--space) var(--space);
}

.nav a {
  display: inline-block;
  padding: var(--space-s) var(--space);
  margin: 0 var(--space-s) 0 0;
  color: var(--color-primary);
  text-decoration: none;
  font-size: var(--font-size-s);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.nav a:hover,
.nav a.activeNav {
  background: var(--color-primary);
  color: var(--color-light);
}
